<VirtualHost *:80>
  ServerName www.domain.tld
  DocumentRoot /var/www/foolfuuka/public
  <Directory /var/www/foolfuuka/public>
    Options FollowSymLinks
    AllowOverride All
  </Directory>
</VirtualHost>
